<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788545909893-fu35oc25vib392tlnoq4db291gkh3v75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788545909893-fu35oc25vib392tlnoq4db291gkh3v75</string>
	<key>API_KEY</key>
	<string>AIzaSyBxVgPFdvC-VeOy4UWoe938r4DYa95nqhY</string>
	<key>GCM_SENDER_ID</key>
	<string>788545909893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sophiamiles.KittenKindergarten</string>
	<key>PROJECT_ID</key>
	<string>kitten-kindergarten-8efb6</string>
	<key>STORAGE_BUCKET</key>
	<string>kitten-kindergarten-8efb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788545909893:ios:ca20f4c13ce64ad9aa25ec</string>
</dict>
</plist>